:root {
    --blanco: #fff;
    --negro: #212121;
    --amarillo: #ffc107;
    --gris: #757575;
    --azul: #0094a7;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}

html {
    box-sizing: border-box; /* Hack para box MODEL */
    scroll-snap-type: y mandatory;
}
.nav,
.servicios,
.formulario,
.footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    margin: 20px auto 1px auto;
    color: #212121;
    margin-top: 5rem;
    text-align: center;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}

h2, h3 {
    text-align: center;
}

/*   ********************NAVIGATION********************                */
li, a {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 1rem;
    color: #757575;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    max-width: 180rem;
    padding: 1.3rem 10%;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.1);
}
.profile {
    height: 50px;
    cursor: pointer;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
    letter-spacing: 1px;
}
button {
    padding: 9px 25px;
    background-color: rgb(68, 60, 104);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
}
button:hover {
    background-color: rgb(99, 89, 133);
    box-shadow: 0 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}
/*   ********************NAVIGATION********************                */

/*   ********************INTRO********************                */
.pre {
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenedor-pre {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pre-p {
    font-size: 1.3rem;
    margin-top: 2.5px;
}
.ubicacion {
    display: flex;
    align-items: center;
}
.ubicacion img {
    height: 45px;
}
/*   ********************INTRO****************  */

/*   ****************MIS SERVICIOS******************  */
.contenedor {
    width: 75%;
    margin: 0 auto;
}
.sombra {
    -webkit-box-shadow: 22px 18px 18px -10px rgba(150,150,150,1);
    -moz-box-shadow: 22px 18px 18px -10px rgba(150,150,150,1);
    box-shadow: 22px 18px 18px -10px rgba(150,150,150,1);
    background-color: var(--blanco);
    border-radius: 1rem;
    padding: 2rem;
}
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.servicios .iconos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicios p {
    text-align: center;
    line-height: 1.5;
}
.servicios h3 {
    color: #393053;
    font-weight: 600;
}

/* SERVICIOS @MEDIA */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
} 
/* SERVICIOS @MEDIA */
/*   ****************MIS SERVICIOS******************  */

/* CONTATO */

#divisor {
    display: flex;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
    align-items: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #8a8a8a;
}

.formulario {
    background-color: var(--gris);
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #393053;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text {
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
}
.fill:hover {
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;

}
.enviar {
    text-align: center;
}
.btn-enviar {
        padding: 9px 25px;
        background-color: rgb(68, 60, 104);
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #fff;
}
.btn-enviar:hover {
        background-color: rgb(99, 89, 133);
        box-shadow: 0 5px rgba(0, 0, 0, 0.3);
        letter-spacing: 2px;
}

/* Alinear a la derecha cuando este en una pantalla grande */

.w100{
    width: 100%;
}
.flex {
    display: flex;
}
@media (min-width: 768px) {
    .w100 {
        width: auto;
    }
    
} 
.alinear-derecha {
    justify-content: flex-end;
}
/* CONTATO */

/* FOOTER */

.footer {
    text-align: center;
}